.NavBar {
	background-color: rgba(163, 159, 159);
	color: white;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 80px;
	width: 100%;
	top: 0%;
	z-index: 2;
}
.NavBar-left {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0%;
	/* border-style: dashed; */
	border-color: black;
	padding-top: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: sans-serif;
	font-size: xxx-large;
	z-index: 3;
}

.NavBar-Right {
	width: 100%;
	/* border-style: dashed; */
	/* border-color: black; */
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0%;
	z-index: 9999999;
	background-color: rgb(189, 184, 184);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.NavBar-Buttons-Sub {
	/* position: absolute;
	top: 0px; */
	height: 60px;
	/* border-style: dashed; */
	padding-top: 9px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60px;
	flex: 20%;
}
.NavBarButton {
	display: none;
}
.NavBarButton.Mobile {
	display: inherit;
	border-radius: 50%;
	padding: 10%;
	height: 50px;
	width: 50px;
	color: black;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.NavBarButton.Mobile:hover {
	background-color: white;
}

@media only screen and (min-width: 640px) {
	.NavBar-left {
		top: 0%;
		width: 50%;
		/* border-style: dashed; */
		position: fixed;
		left: 0%;
		padding-top: 1%;
		display: flex;
		/* padding-left: 1%; */
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 1%;
	}
	.NavBar-Right {
		position: fixed;
		top: 0%;
		width: 50%;
		right: 0%;
		height: inherit;
		padding-top: 6px;
		background-color: #a39f9f;
	}
	.NavBarButton.Mobile {
		display: none;
	}
	.NavBarButton:hover {
		/* background-color: white; */
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
		border-radius: 2%;
		padding: 2px;
	}
	.NavBarButton {
		display: flex;
		flex-direction: row;
		justify-content: center;
		color: black;
		/* border-style: dashed; */
		height: 52px;
	}
	.NavBar-Buttons-Sub:nth-child(4) span {
		margin-top: 11%;
	}
	.NavBarButton > svg {
		/* border-style: dashed; */
		margin-top: 4%;
		height: fit-content;
	}
	.NavBarButton > span {
		/* border-style: dashed; */
		display: none;
		margin-top: 16%;
		margin-left: 6px;
		height: 50px;
		font-family: sans-serif;
	}
}
@media only screen and (min-width: 870px) {
	.NavBarButton > span {
		display: block;
	}
}
